

// 横向排列
.direction-row {
  flex-direction: row;
}

// 两端对齐
.justify-between {
  justify-content: space-between;
}

// 底部对齐
.align-end {
  align-items: flex-end;
}

// 上下居中&文字居中
.align-center {
  align-items: center;
}

.btn-group {
  flex-direction: row;
  padding-top: 20px;
  .btn {
    flex: 1;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
  }
}
